<swiper-container class="container" pagination="true" [breakpoints]="breakpoints">
    <swiper-slide class="slide">
        <div class="card">
            <img (click)="openDialog()" src="assets/github-img.png" alt="">
            <div class="description">
                <h3 class="title">Titulo</h3>
                <a href="#" class="button">Visitar repositório</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide class="slide">
        <div class="card">
            <img (click)="openDialog()" src="assets/koi-clicker.png" alt="">
            <div class="description">
                <h3 class="title">KoiClicker - Jogo 2D feito em Python e a biblioteca PyGame</h3>
                <a href="#" class="button">Visitar repositório</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide class="slide">
        <div class="card">
            <img (click)="openDialog()" src="assets/github-img.png" alt="">
            <div class="description">
                <h3 class="title">Titulo</h3>
                <a href="#" class="button">Visitar repositório</a>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide class="slide">
        <div class="card">
            <img (click)="openDialog()" src="assets/github-img.png" alt="">
            <div class="description">
                <h3 class="title">Titulo</h3>
                <a href="#" class="button">Visitar repositório</a>
            </div>
        </div>
    </swiper-slide>
</swiper-container>