<div class="is-intersecting" appObserveElement rootMargin="70px" #intersection="intersection">
    <nav class="container">
        @if (this.getScreenWidth > 800) {
        <ul class="box">
            <li>
                <a href="#main">Início</a>
            </li>
            <li>
                <a href="#about-me">Sobre mim</a>
            </li>
            <li>
                <a href="#projects">Projetos</a>
            </li>
            <li>
                <a href="#contact">Contato</a>
            </li>
        </ul>
        } @else {
        <mat-accordion displayMode="default">
            <mat-expansion-panel hideToggle #panel="matExpansionPanel" [expanded]="isMenuOpen"
                (opened)="isMenuOpen = true" (closed)="isMenuOpen = false">
                <mat-expansion-panel-header collapsedHeight="4rem">
                    <mat-icon>{{ isMenuOpen ? 'close': 'menu' }}</mat-icon>
                </mat-expansion-panel-header>
                <a href="#main">Início</a>
                <a href="#about-me">Sobre mim</a>
                <a href="#projects">Projetos</a>
                <a href="#contact">Contato</a>
            </mat-expansion-panel>
        </mat-accordion>
        }
    </nav>
</div>